:root {
    --black: #000;
    --grey: #7D808A;
    --white: #fff;
    --clr1: #F29F05;
    --clr2: #73BFAA;
    --clr3: #6BB3F2;
    --clr4: #5B92D9;
    --clr5: #A60530;
}

*,
*::after,
*::before,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--grey);
    display: grid;
    height: 100vh;
    place-items: center;
}

#poster {
    background-color: var(--white);
    border: 2vmin solid var(--black);
    box-shadow: 0 4vmin 8vmin -4vmin;
    box-sizing: content-box;
    display: grid;
    height: 80vmin;
    padding: 4vmin;
    place-items: center;
    width: 50vmin;
}

#canvas {
    background: var(--black);
    display: grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vmin;
    overflow: hidden;
    position: relative;
    place-items: center;
    width: 50vmin;
}

#canvas s {
    background: var(--yellow);
    height: 20vmin;
    text-decoration: none;
    transform: scale(1.2);
    width: 20vmin;
}